/* Основные стили */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #a7a7a7; /* Светлый синий фон */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 10px;
}

.copy_button {
    border-radius: 17px;
}

header {
    background: #1a1a1a; /* Темный фон */
    color: #fff;
    padding-top: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
 width: 300px;
}

.tgicon {
    border-radius: 17px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    flex: 1;
    max-width: 1000px;
    margin: auto;
    padding-top: 40px;
}

section {
    margin-bottom: 40px;
    background: #ffffff; /* Белый фон для секций */
    border-radius: 17px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1px 20px 8px;
}

section h2 {
    border-bottom: 2px solid #1a1a1a;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li,
ol li {
    background: #e4e4e4;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 5px solid #1a1a1a;
    transition: background-color 0.3s;
}

ul li:hover,
ol li:hover {
    background-color: #d4d4d4;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #1a1a1a;
    color: #fff;
}

button {
    background-color: #005bbb; /* Синий цвет */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3; /* Темнее синий при наведении */
}

#copyMessage {
    margin-top: 10px;
    color: green;
}

#telegramIconContainer {
    margin-top: 20px;
    text-align: center;
}

#telegramIcon {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

#telegramIcon:hover {
    transform: scale(1.1);
}

.fade-in {
    opacity: 0; /* Начальное состояние: скрыто */
    transform: translateY(20px); /* Сдвиг вниз */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Плавный переход */
}

.fade-in.visible {
    opacity: 1; /* Конечное состояние: видимо */
    transform: translateY(0); /* Возвращаем на место */
}


/* Адаптивный дизайн для смартфонов */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header img {
        width: 80px;
    }

    header h1 {
        font-size: 24px;
    }

    .bot-status {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ff4d4d;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    from { top: -100px; }
    to { top: 0; }
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
}
    

    button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
}

.donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; 
    padding: 20px 0;
}

