body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li,
ol li {
    background: #e4e4e4;
    margin-bottom: 5px;
    padding: 10px;
    border-left: 3px solid #333;
    transition: background-color 0.3s;
}

ul li:hover,
ol li:hover {
    background-color: #d4d4d4;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

#copyMessage {
    margin-top: 10px;
    color: green;
}

#telegramIconContainer {
    margin-top: 20px;
    text-align: center;
}

#telegramIcon {
    width: 50px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

#telegramIcon:hover {
    transform: scale(1.1);
}

/* Адаптивный дизайн для смартфонов */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    header img {
        width: 80px;
    }

    header h1 {
        font-size: 24px;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
}